files/hyprenotes-menu-ui.jpg filter=lfs diff=lfs merge=lfs -text
files/tags.jpg filter=lfs diff=lfs merge=lfs -text
files/craft-menu-ui.jpg filter=lfs diff=lfs merge=lfs -text
files/menu-bar-native.jpg filter=lfs diff=lfs merge=lfs -text
files/noteplan-ui.jpg filter=lfs diff=lfs merge=lfs -text
files/roam-settings.mp4 filter=lfs diff=lfs merge=lfs -text
files/mem-timeline.jpg filter=lfs diff=lfs merge=lfs -text
files/click-to-view-references.mp4 filter=lfs diff=lfs merge=lfs -text
files/noteplan-menu-ui.jpg filter=lfs diff=lfs merge=lfs -text
files/references.jpg filter=lfs diff=lfs merge=lfs -text
files/bear-ui.jpg filter=lfs diff=lfs merge=lfs -text
files/clover-menu-ui.jpg filter=lfs diff=lfs merge=lfs -text
files/graph.jpg filter=lfs diff=lfs merge=lfs -text
files/mem-switch.mp4 filter=lfs diff=lfs merge=lfs -text
files/noteplan-switch.mp4 filter=lfs diff=lfs merge=lfs -text
files/obsidian-dir.jpg filter=lfs diff=lfs merge=lfs -text
files/obsidian-ui.jpg filter=lfs diff=lfs merge=lfs -text
files/bug-ui-close-obsidian.jpg filter=lfs diff=lfs merge=lfs -text
files/logseq-panel.mp4 filter=lfs diff=lfs merge=lfs -text
files/notion-menu-ui.jpg filter=lfs diff=lfs merge=lfs -text
files/obsidian-menu-ui.jpg filter=lfs diff=lfs merge=lfs -text
files/roam-bug.mp4 filter=lfs diff=lfs merge=lfs -text
files/folder-name-fail.jpg filter=lfs diff=lfs merge=lfs -text
files/logseq-settings.mp4 filter=lfs diff=lfs merge=lfs -text
files/menu.jpg filter=lfs diff=lfs merge=lfs -text
files/obsidian-mobile.mp4 filter=lfs diff=lfs merge=lfs -text
files/obsidian-resize.mp4 filter=lfs diff=lfs merge=lfs -text
files/zettel-inline-search.mp4 filter=lfs diff=lfs merge=lfs -text
files/craft-ui.jpg filter=lfs diff=lfs merge=lfs -text
files/help-hoteplan.jpg filter=lfs diff=lfs merge=lfs -text
files/inline-fuzzy-search.mp4 filter=lfs diff=lfs merge=lfs -text
files/tag-search.jpg filter=lfs diff=lfs merge=lfs -text
files/help-bear.jpg filter=lfs diff=lfs merge=lfs -text
files/mem-slide.jpg filter=lfs diff=lfs merge=lfs -text
files/native-resize.mp4 filter=lfs diff=lfs merge=lfs -text
files/bug-ui-obsidian.mp4 filter=lfs diff=lfs merge=lfs -text
